@use "./components/global.scss" as *;
@use "./components/buttons.scss" as *;

@use "./pages/landing" as *;
@use "./pages/game" as *;
@use "./pages/not-found" as *;

button {
    font-size: 0.75rem !important;
}

i {
    margin-right: 0.2rem;
}

body,
:root {
    --bs-body-bg: #013d67 !important;
    --bs-body-bg-rgb: rgb(1, 61, 103) !important;
    --bs-body-color: #fff !important;
}

.btn-articles,
.btn-outline-dark {
    background: rgb(9 119 198) !important;
    color: #fff !important;
}

.stats-overlay {
    position: fixed;
    top: 0;
    right: 0 !important;
    left: initial !important;
    z-index: 4;
}